<p id="notice"><%= notice %></p>

<p>
  <strong>Handle:</strong>
  <%= @user.handle %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Company:</strong>
  <%= @user.company %>
</p>

<p>
  <strong>Avatar:</strong>
  <%= @user.avatar_url %>
</p>

<%= link_to 'Back', users_path %>
